Repository influxdata/platform, pull requests merged in 2018-08, with the labels that each got.

#600 feat(http): support posting queries as a json body
  http/external_query_handler.go
  http/swagger.yml
Labels: area/api

#476 Update spec and readme for the new Collate function
  query/docs/SPEC.md
Labels: area/query

#633 Pivot() function
  query/functions/pivot.go
  query/functions/pivot_test.go
  query/functions/testdata/fromRows.flux
  query/functions/testdata/fromRows.in.csv
  query/functions/testdata/fromRows.out.csv
  query/functions/testdata/pivot.flux
  query/functions/testdata/pivot.in.csv
  query/functions/testdata/pivot.out.csv
  query/functions/testdata/pivot_fields.flux
  query/functions/testdata/pivot_fields.in.csv
  query/functions/testdata/pivot_fields.out.csv
  query/functions/testdata/pivot_mean.flux
  query/functions/testdata/pivot_mean.in.csv
  query/functions/testdata/pivot_mean.out.csv
Labels: area/query

#665 chore(query/functions): clean up parameters to be appropriately camel…
  query/execute/aggregate.go
  query/functions/covariance.go
  query/functions/cumulative_sum.go
  query/functions/derivative.go
  query/functions/derivative_test.go
  query/functions/difference.go
  query/functions/difference_test.go
  query/functions/first.go
  query/functions/from.go
  query/functions/join.go
  query/functions/join_test.go
  query/functions/last.go
  query/functions/limit.go
  query/functions/map.go
  query/functions/max.go
  query/functions/min.go
  query/functions/percentile.go
  query/functions/pivot.go
  query/functions/pivot_test.go
  query/functions/range.go
  query/functions/sample.go
  query/functions/shift.go
  query/functions/sort.go
  query/functions/state_tracking.go
  query/functions/state_tracking_test.go
  query/functions/to_http.go
  query/functions/to_kafka.go
  query/functions/window.go
Labels: area/query

#695 refactor(pb): Consolidate and use refactored storage APIs from influxdb
  Gopkg.lock
  query/functions/storage/pb/predicate.go
  query/functions/storage/pb/predicate.pb.go
  query/functions/storage/pb/reader.go
  query/functions/storage/pb/storage.go
  query/functions/storage/pb/storage.pb.go
Labels: area/storage

#690 Added default signature generators for Selector and Aggregate configs and update the functions that need them
  query/execute/aggregate.go
  query/execute/selector.go
  query/functions/count.go
  query/functions/covariance.go
  query/functions/first.go
  query/functions/integral.go
  query/functions/last.go
  query/functions/max.go
  query/functions/mean.go
  query/functions/min.go
  query/functions/percentile.go
  query/functions/sample.go
  query/functions/skew.go
  query/functions/spread.go
  query/functions/stddev.go
  query/functions/sum.go
Labels: area/query

#739 feat(query/functions) Updated percentile to be more memory compact and managed by allocator
  query/execute/table.go
  query/functions/percentile.go
  query/functions/percentile_test.go
Labels: area/query
