Repository influxdata/platform, pull requests merged in 2018-10, with the labels that each got.

#965 fix: eliminate data race in cmd/influxd
  cmd/influxd/main.go
Labels: data race

#927 feat(tsdb/tsm1): Add TSM1 measurement stats.
  tsdb/tsm1/compact.go
  tsdb/tsm1/compact_test.go
  tsdb/tsm1/engine.go
  tsdb/tsm1/file_store.go
  tsdb/tsm1/file_store_key_iterator_test.go
  tsdb/tsm1/reader.go
  tsdb/tsm1/stats.go
  tsdb/tsm1/stats_test.go
  tsdb/tsm1/writer.go
  tsdb/tsm1/writer_test.go
Labels: area/storage

#1000 fix(tsdb): Fix series file tombstoning.
  tsdb/series_file_test.go
  tsdb/series_index.go
  tsdb/series_partition.go
Labels: area/storage

#1099 Add tsi1 measurement cardinality stats.
  storage/engine.go
  tsdb/series_file.go
  tsdb/tsi1/index.go
  tsdb/tsi1/index_test.go
  tsdb/tsi1/log_file.go
  tsdb/tsi1/partition.go
  tsdb/tsi1/stats.go
  tsdb/tsi1/stats_test.go
Labels: area/storage/tsi

#1170 refactor(tsdb): remove tsdb.Index and tsdb.IndexSet
  cmd/influx_inspect/buildtsi/buildtsi.go
  storage/engine.go
  storage/series_cursor.go
  tsdb/config.go
  tsdb/defaults/defaults.go
  tsdb/engine.go
  tsdb/index.go
  tsdb/index_test.go
  tsdb/shard.go
  tsdb/tsi1/index.go
  tsdb/tsm1/engine.go
  tsdb/tsm1/engine_test.go
Labels: area/storage

#1246 test(task): deflake TaskService shared test
  task/servicetest/servicetest.go
Labels: flaky test
