Repository influxdata/platform, pull requests merged in 2019-01, with the labels that each got.

#1989 Add support for prefix tombstone entries
  tsdb/tsm1/tombstone.go
  tsdb/tsm1/tombstone_test.go
Labels: area/strorage/tsm

#2164 fix(write): fix close logic to avoid race from read error
  write/batcher.go
  write/batcher_test.go
Labels: bug, flaky test

#2366 Wire up Storage Engine to API-layer BucketService
  cmd/influxd/launcher/launcher.go
  cmd/influxd/launcher/launcher_test.go
  cmd/influxd/main.go
  storage/bucket_service.go
  storage/bucket_service_test.go
  storage/engine.go
  storage/retention.go
  testing/kv.go
Labels: area/storage
